@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-sidebar: #0F121C;
  --color-surface: #1E2330;
  --color-border: #2E3645;
  --color-primary: #6366F1;
  --color-text-main: #F1F5F9;
  --color-text-muted: #64748B;
}

:root {
  --background: #0B0F19;
  --sidebar: #0F121C;
  --surface: #1E2330;
  --border: #2E3645;
  --primary: #6366F1;
  --text-main: #F1F5F9;
  --text-muted: #64748B;
}

body {
  color: var(--text-main);
  background: var(--background);
}

.checkerboard-bg {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}